.main-card {
  background-color: $white;
  position: relative;
  z-index: 1;
  border-radius: 3.6rem;
  // margin: 0 20rem;
  max-width: 128rem;
  margin: 0 auto;
  margin-top: -15vh;
  padding: 4rem 5rem;
}