<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quanby</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="page">


    <nav class="navigation">
      <ul class="navigation--list">
        <li class="navigation--item"><a href="#about" class="navigation--link">About us</a></li>
        <li class="navigation--item"><a href="#our-products" class="navigation--link">Our products</a></li>
        <li class="navigation--item"><a href="#contact" class="navigation--link">Contact us</a></li>
      </ul>
    </nav>

    <div class="hero">
      <div id="particles-js">
      </div>
      <div class="hero--container">
        <h1 class="hero--logo">Quanby</h1>
        <h2 class="hero--phrase">Are you prepared for <br>
          <span class="hero--phrase__strong">quantum revolution?</span>
        </h2>
        <a href="#quantum-revolution" class="btn btn__primary hero__btn">Find out more</a>
        <hr>
      </div>
    </div>


    <main class="main-card">
      <!-- <div class="container"> -->
      <h3 class="resumed-products--header heading-tertiary">Our products</h3>
      <section id="our-products" class="resumed-products">
        <div class="resumed-products--product">
          <h5>
            <i class="fas fa-lock"></i><br>
            Security
          </h5>
          <p>
            We keep your company up to date with the most modern post-quantum cryptography technologies
          </p>
          <a href="#security" class="btn btn__primary btn__small">+</a>
        </div>
        <div class="resumed-products--product">
          <h5>
            <i class="fas fa-tools"></i><br>
            Personal development
          </h5>
          <p>
            Personalized solutions for every industry field, we make from your problems ours and solve them through
            quantum computing
          </p>
          <a href="#personal-dev" class="btn btn__primary btn__small">+</a>
        </div>
        <div class="resumed-products--product">
          <h5>
            <i class="fas fa-project-diagram"></i><br>
            Linear systems
          </h5>
          <p>
            We keep your company up to date with the most modern post-quantum cryptography technologies
          </p>
          <a href="#linear-systems" class="btn btn__primary btn__small">+</a>
        </div>
      </section>

      <hr>

      <article id="quantum-revolution" class="article">
        <h4 class="heading-quartiary">The quantum revolution</h4>
        <p>Quantum Computing (QC) consists of a new way of storing,
          process and transmit data according to the logic of the quantum world. It will bring a
          substantial impact on the industry - from health products, pharmaceuticals,
          systems of manufacturing, finance and communication. It will not only enable
          do things faster than traditional computing, but also
          transform your processes and products. Great experts believe that
          quantum computers are no longer decades away. The quantum era
          has come and it is now imperative that managers and leaders understand the
          commercial implications of this new frontier of knowledge and be prepared for the
          break.</p>

        <p>Among the main applications foreseen for Quantum Computation is the solving of problems of optimization,
          finance, machine learning, development of new materials, drugs and chemical processes. Another outstanding
          application is in encryption. Some current technologies such as RSA encryption and blockchain (of which
          bitcoin makes use in particular) would be vulnerable to attack by a quantum computer, since it could find
          prime factors of an integer in time
          exponentially smaller than a classic computer.</p>
      </article>

      <hr>

      <section class="products">
        <h4 id="security" class="heading-quartiary">Security</h4>
        <article class="products--security">
          <div class="products--content">
            <p>Is your company protected from the threats of quantum computers? The encryption used today is based on
              the fact that a conventional computer can take up to hundreds of thousands of years to break it. With a
              functional quantum computer, this time tends to drop to minutes or even seconds. In this way, most of the
              cryptographic algorithms currently used need to be changed or the size of the key used needs to be
              increased (depending on the math function / mechanism used by the cryptographic algorithm).</p>

            <p>Quanby, a quantum technology company, specializes in this issue and provides security advice to companies
              that make use of technology and need their systems to remain secure in this new era. We keep our customers
              up-to-date on the latest in post-quantum cryptography.</p>

            <p>Interested in ensuring the secure communication of your systems and keeping your confidential data
              protected from intruders in the quantum era?
              We performed a detailed survey of the cryptographic mechanisms employed by the company's computer systems,
              identifying vulnerabilities and suggesting changes that will keep their systems current in the era of
              quantum computers.</p>
          </div>
          <img class="products--image" src="/img/binary-code.svg" alt="Monitor displaying binary code">
        </article>

        <h4 id="personal-dev" class="heading-quartiary align-right">Personal development</h4>
        <article class="products--personal-dev align-right">
          <p>Quanby seeks to solve problems of difficult resolution by classical computing, creating algorithms and
            using the most effective quantum processors built to date. We create customized solutions for various areas
            of the industry.
            Make us understand your problems, that we will make a proposal to solve them through quantum computing.</p>

          <img class="products--image" src="/img/coding.svg" alt="Monitor displaying binary code">
        </article>

        <h4 id="linear-systems" class="heading-quartiary">Linear systems</h4>
        <article class="products--linear-systems">
          <p>Desenvolvemos algoritmos quânticos para resolução de sistemas lineares (HHL) e para resolução de equações
            diferenciais parciais. Aplicamos esta solução de forma isolada ou híbrida, no caso, com ou sem a interação
            com a computação clássica.
            Simulamos soluções robustas com alto desempenho, velocidade e qualidade na entrega.
          </p>

          <img class="products--image" src="/img/calculator.svg" alt="Monitor displaying binary code">
        </article>
      </section>
      <!-- </div> -->

    </main>

    <div class="container">
      <section id="about" class="about">
        <h2 class="heading-secondary">Who we are</h2>
        <p class="about--content">
          First brazilian quantum computing company, focused on developing and implementation of algorithms for quantum
          computers and cryptographical security services.
        </p>
        <a id="contact" href="mailto:quanby.quantica@gmail.com" class="btn btn__primary">Contact us</a>
      </section>
      <div id="particles-js-2"></div>
    </div>


    <footer class="footer">
      <!-- <div class="footer--back-to-top">
        <i class="fas fa-arrow-up"></i>
      </div> -->
      <div class="footer--logo">
        Quanby
      </div>
      <hr>
      <div class="footer--contact">
        <a class="media" href="https://www.youtube.com/channel/UCf4_g-7pilwh9ilVobgKVVw">
          <i class="fab fa-youtube"></i>
        </a>
        <div class="footer--contact-info">
          <a href="mailto:quanby.quantica@gmail.com" class="email">quanby.quantica@gmail.com</a><br>
          <a href="tel:55048996235796" class="number">+55 (048) 99623.5796</a>
          <br><br>
          <br>
          <address>Florianópolis, Santa Catarina - Brasil</address>
          <br><br>
          <small class="copyright">&copy; designed by LUCAS MULLER.</small>
        </div>
      </div>
    </footer>
  </div>


  <script src="/js/particles.min.js"></script>
  <script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', 'assets/particlesjs-config.json', function () {
      console.log('callback - particles.js config loaded');
    });
    particlesJS.load('particles-js-2', 'assets/particlesjs-config.json', function () {
      console.log('callback - particles.js config loaded');
    });
  </script>
</body>

</html>