.about {
  text-align: center;
  margin: 8rem auto;
  max-width: 80rem;
  z-index: 2;

  @include respond(phone) {
    margin: 2rem auto;
  }
  
  &--content {
    color: $white;
    margin-bottom: 3rem;
  }
}