.btn {
  &,
  &:link,
  &:visited {
    padding: 1.2rem 2.5rem;

    border: none;
    border-radius: 5px;

    background-color: $white;
    color: black;

    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.2s;
    cursor: pointer;
  }

  &:active {
    border-bottom-color: currentColor;
  }

  &__primary {
    background-color: $secondary-blue;
    border-bottom: 1px solid $secondary-blue;
    color: $primary-blue;

    &:hover {
      background-color: $primary-blue;
      color: $white;
      // border: 1px solid $secondary-blue;
    }
  }

  &__small {
    font-size: 1.8rem;
    padding: 0 3rem;
  }
}
